.content {
  width: 650px;
  margin: auto;
   color: var(--fg);
}

@media screen and (max-width: 650px) {
  .content {
    width: 100%;
    padding: 0 15px;
  }
}

.content a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.content a:hover {
  border-bottom: 1px solid var(--fg);
}

.content a code {
  color: inherit;
}

.content hr {
  width: 50px;
  margin: 2em auto;
}

.content a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

.content a.item:hover {
  opacity: 1;
}



.content blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.content blockquote > :first-child {
  margin-top: 0;
}

.content blockquote > :last-child {
  margin-bottom: 0;
}

.content blockquote p:first-of-type::before {
  content: none;
}

.content blockquote p:first-of-type::after {
  content: none;
}

@media (max-width: 1200px) {
  .table-of-contents {
    display: none;
  }
}




.content {
  color: var(--fg);
  max-width: 65ch;
  font-size: 1rem;
  line-height: 1.75;
}
.content [class~="lead"] {
  color: #4b5563;
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.content a {
  color: var(--fg-deeper);
  text-decoration: none;
  font-weight: 500;
}
.content strong {
  color: var(--fg-deep);
  font-weight: 600;
}
.content ol[type="A"] {
  --list-counter-style: upper-alpha;
}
.content ol[type="a"] {
  --list-counter-style: lower-alpha;
}
.content ol[type="A s"] {
  --list-counter-style: upper-alpha;
}
.content ol[type="a s"] {
  --list-counter-style: lower-alpha;
}
.content ol[type="I"] {
  --list-counter-style: upper-roman;
}
.content ol[type="i"] {
  --list-counter-style: lower-roman;
}
.content ol[type="I s"] {
  --list-counter-style: upper-roman;
}
.content ol[type="i s"] {
  --list-counter-style: lower-roman;
}
.content ol[type="1"] {
  --list-counter-style: decimal;
}
.content ol > li {
  position: relative;
  padding-left: 1.75em;
}
.content ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.content ul > li {
  position: relative;
  padding-left: 1.75em;
}
.content ul > li::before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
.content hr {
  border-color: rgba(125,125,125,0.3);
  margin-top: 3em;
  margin-bottom: 3em;
}
.content blockquote {
  font-weight: 500;
  font-style: italic;
  color: inherit;
  border-left-width: 0.25rem;
  border-color: rgba(125,125,125,0.3);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.content blockquote p:first-of-type::before {
  content: open-quote;
}
.content blockquote p:last-of-type::after {
  content: close-quote;
}
.content h1 {
  color: var(--fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.content h2 {
  color: var(--fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.content h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.content h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.content figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.content code {
  color: var(--fg-deep);
  font-weight: 600;
  font-size: 0.875em;
}
.content code::before {
  content: "`";
}
.content code::after {
  content: "`";
}
.content a code {
  color: #111827;
}
.content pre {
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}
.content pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.content pre code::before {
  content: none;
}
.content pre code::after {
  content: none;
}
.content table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.content thead {
  color: #111827;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db;
}
.content thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.content tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}
.content tbody tr:last-child {
  border-bottom-width: 0;
}
.content tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.content p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.content img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.content video {
  margin-top: 2em;
  margin-bottom: 2em;
}
.content figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.content figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.content h2 code {
  font-size: 0.875em;
}
.content h3 code {
  font-size: 0.9em;
}
.content ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.content ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.content li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.content > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.content > ol > li > *:first-child {
  margin-top: 1.25em;
}
.content > ol > li > *:last-child {
  margin-bottom: 1.25em;
}
.content ul ul, .content ul ol, .content ol ul, .content ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.content hr + * {
  margin-top: 0;
}
.content h2 + * {
  margin-top: 0;
}
.content h3 + * {
  margin-top: 0;
}
.content h4 + * {
  margin-top: 0;
}
.content h6 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 2px;
}
.content thead th:first-child {
  padding-left: 0;
}
.content thead th:last-child {
  padding-right: 0;
}
.content tbody td:first-child {
  padding-left: 0;
}
.content tbody td:last-child {
  padding-right: 0;
}
.content > :first-child {
  margin-top: 0;
}
.content > :last-child {
  margin-bottom: 0;
}
.content b {
  color: var(--fg-deep);
}
.content em {
  color: inherit;
}


.content img {
  margin: auto;
}