:root {
  --bg-color: #fcfcfc;
  --text-color: #1f2937; 
  --ti-cursor-color: var(--text-color)
}

.dark {
  --bg-color: #181818;
  --text-color: #f3f4f6;
  --ti-cursor-color: var(--text-color)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: var(--bg-color);
  color:  var(--text-color);
}

@media screen and (max-width: 765px) {
  html {
    font-size: 14px;
  }
}