:root {
  --bg-color: #fcfcfc;
  --text-color: #1f2937; 
  --ti-cursor-color: var(--text-color);
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;
  --container-width: 650px;
}

@media screen and (max-width: 650px) {
  :root {
     --container-width: 100%;
  }
}

.dark {
  --bg-color: #181818;
  --text-color: #f3f4f6;
  --ti-cursor-color: var(--text-color);
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: var(--bg-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

@media screen and (max-width: 765px) {
  html {
    font-size: 14px;
  }
}